@using App.Domain.Models
@using App.Domain.Models.Dto
@model PageModel<List<MenuDto>>
@{
    ViewData["Title"] = $"Data Master - {Model.Title}";
}
<style>
    .card-hover {
        transition: .25s ease;
        border-radius: 16px;
    }

        .card-hover:hover {
            transform: translateY(-8px);
            box-shadow: 0 1rem 2rem rgba(0,0,0,.18) !important;
        }

    .card {
        cursor: pointer;
    }

        .card i {
            opacity: .25;
        }
</style>
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <h3 class="fw-bold mb-0">
                <i class="bi bi-gear-fill text-success"></i>
                Attendance Configuration
            </h3>
            <small class="text-muted">
                Configure attendance master data
            </small>
        </div>
    </div>
    <div class="row g-4">
        @foreach (var item in Model.Item)
        {
            <div class="col-xl-3 col-md-6">
                <a href="@item.Link" class="text-decoration-none">
                    <div class="card border-0 shadow-sm card-hover @item.Css text-white h-100">
                        <div class="card-body d-flex flex-column">
                            <!-- Header -->
                            <div class="d-flex justify-content-between align-items-start">
                                <div>
                                    <h5 class="fw-bold mb-1">
                                        @item.Caption
                                    </h5>
                                    <small class="opacity-75">
                                        @item.Description
                                    </small>
                                </div>
                                <div class="text-end">
                                    @* <span class="badge rounded-pill bg-light text-dark mb-2">
                                        10
                                    </span> *@
                                    <div>
                                        <i class="@item.Icon display-5 opacity-50"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- Push footer to bottom -->
                            <div class="mt-auto pt-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-white-50">
                                        Manage
                                    </small>
                                    <i class="bi bi-arrow-right-circle-fill fs-5"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div> 