@using App.Domain.Models
@using App.Domain.Models.Dto.Masters
@model EmployeeSalaryModel
@{
    var orderedComponents = Model.Components.OrderBy(c => c.SortOrder).ToList();
    var employees = Model.Employees.OrderBy(t => t.EmployeeCode).ToList();

}
<style>
    #tblSalary th {
        vertical-align: middle;
        white-space: nowrap;
    }

    #tblSalary td {
        vertical-align: middle;
        white-space: nowrap;
    }

    .salary-input {
        min-width: 120px;
        text-align: right;
    }

</style>
<div class="card-body p-0">
    <div class="table-responsive">

        <table id="tblSalary"
               class="table table-bordered table-sm table-hover mb-0">

            <thead class="table-light">

                <tr>

                    <th style="min-width:100px">
                        Employee No
                    </th>

                    <th style="min-width:200px">
                        Employee Name
                    </th>

                    @foreach (var c in orderedComponents)
                    {
                        <th class="text-center"
                            style="min-width:150px">

                            @c.ComponentName

                        </th>
                    }

                </tr>

            </thead>

            <tbody>

                @foreach (var employee in employees)
                {
                    var employeeItem = employees.FirstOrDefault(e => e.EmployeeId == employee.EmployeeId);
                    var employeeSalaryItem = Model.Item.FirstOrDefault(s => s.EmployeeId == employee.EmployeeId);
                    if (employeeSalaryItem == null) employeeSalaryItem = new EmployeeSalaryDto();
                    <tr data-employee-id="@employee.EmployeeId"
                        data-salary-id="@employeeSalaryItem.EmployeeSalaryId">
                        <td>
                            @employeeItem.EmployeeCode
                        </td>

                        <td>
                            @employeeItem.FullName
                        </td>

                        @foreach (var c in orderedComponents)
                        {
                            decimal amount = employeeSalaryItem.Details.FirstOrDefault(d => d.ComponentCode == c.ComponentCode)?.Amount ?? 0;
                            <td>

                                <input type="number"
                                       class="form-control form-control-sm salary-input"
                                       data-component="@c.ComponentCode"
                                       value="@amount" />

                            </td>
                        }

                    </tr>
                }

            </tbody>

        </table>

    </div>

</div>

</div>